@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.container {
  display: block !important;
  flex-direction: column;
  margin: 50px 0;
  color: #01DF01;
}
.work-hist
{
  display: block;
  justify-content: left;
  background-size: 100%;
  flex-direction: column;
  
}


.typographyMain {
  margin: 5% !important;
  font-family: 'Ubuntu', sans-serif !important;
  
  font-size: 35px !important;    
  text-align: center !important;
  
}
.typographySub {
margin: 4% !important;
font-size: medium;
color: #fff !important;
font-family: 'Ubuntu', sans-serif !important;
text-align: center !important;

} 